@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahkan style khusus di bawah ini kalau perlu */
@layer base {
  body {
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100;
  }
}